*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    color: #7dfdfe;
}

body {
    padding: 0;
    margin: 0px auto;
    align-items: center;  
    height: 100vh;
    width:100vw;
    background-color: black;
}
.head{
    width: 100vw;
    height: 30px;
    display: flex;

}
#time{
    display: flex;
    padding-left: 90%;
    height: 30px;
    font-size: x-large;
    margin-top: 5px;
    
}

.correct {
    color:#f2a007
    box-shadow: 0 0 10px 2px #f2a007
}

.wrong {
    color:#f2a007;
    box-shadow: 0 0 10px 2px #F2A007;
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px #7dfdfe;
    margin:250px auto;

}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 0 10px 2px #7dfdfe;
    outline: none;
}

.btn:hover{
    border-color:#F2A007;
    color: #F2A007;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    outline: none;
}

.controls{
    display:flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.hide{
    display: none;
}

.timecontainer{
position: fixed;
}