body{
    background-color: black;
}

.gridbox{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    padding: 10px 50px 50px 50px;
    border: 2px solid black;
}

.gridbox h1{
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    font: 60px;
    text-align: center;
    color: #7DFDFE;
    padding: 2px 0px;
}

#score{
    color: #7DFDFE;
    text-align: center;
    font-size: 30px;
}

.gridbox #question{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: #7DFDFE;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3{
    background-color: #7DFDFE;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #7DFDFE;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
    cursor: pointer;
    background-color: white;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress{
    color: #7DFDFE;
    font-size: 18px;
}